
.service h2 {
  font-size: 3rem;
  text-align: center;
 font-family:
  SF Pro Display,
  sans-serif;
  font-weight: 400;
  margin-top: var(--head-margin-top);
  margin-bottom: var(--head-margin-bottom);
}
.service {
  position: relative;
  margin: 0 var(--margin-x);
}

/* .service-img-container {
  position: relative;

} */
/* .service-img {
  display: block;
  width: 100%;
  height: auto;
} */
.service-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 96px;
  height: 96px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.client {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #121212;
  padding: 97px 298px 97px 299px;
  font-family: 'PP Neue Montreal',sans-serif;
  font-weight: 500;
  margin-top: 9rem;
}
.client h2 {
  font-weight: 500;
  margin: 0;
  font-size: 72px;
  letter-spacing: -1.008px;
  font-style: normal;
  line-height: 80px; 
}
.client p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.client-img-container {
  display: grid;
  grid-template-columns: repeat(3, 137px);
  align-items: center;
  gap: 10rem;
}
.client-img-container img {
  object-fit: cover; 
}

.image-box{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:500px) {
  .service{
    margin: 1rem 0;
  }
  .service h2,.client h2{
    font-size:2rem;
  }
  /* client styles */
  .client{
    padding: 1rem 0;
    margin-top: 3rem;
  }
  .client h2{
    text-align: center;
    font-weight: 700;
  }
  .client p{
    padding: 0 1rem;
  }
  .client-img-container{
    grid-template-columns: 1fr 1fr;
    gap:3rem
  }
  .image-box{
    width: 100px;
    height: 100px;
  }
}