
.flow-container {
    /* overflow: hidden; */
    width: 100%;
    margin: 5rem 0;
    padding: 1rem 0 1rem 0;
    transform: rotate(-9.79deg);
    border-top: 1.045px solid #fff;
    border-bottom: 1.045px solid #fff;
    z-index: 999;
    background-color: #000;
  }
  
  .slider {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .slide {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 33px;
    display: flex;
    gap: 3rem;
    font-family:
      SF Pro Display,
      sans-serif;
    white-space: nowrap;
  }
  @media screen and (max-width: 500px) {
    .slide {
      font-size: 20px;
    }
    .flow-container{
      margin-top: 3rem;
      padding: 0.9rem 0 0.9rem 0;
      transform: unset;
      margin-bottom: 0.5rem;
    }
    
  }