.hero {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);
  letter-spacing: -1.92px;
  font-family: "PP Neue Montreal", sans-serif;
  font-style: normal;
}
.hero h2 {
  margin: 0.1rem 0;
  font-size: clamp(1.75rem, 1.3864rem + 5.8182vw, 5.75rem);
  line-height: 102px;
  font-weight: 400;
}
.hero-btn-container {
  margin-top:2.5rem;
  display: flex;
}

@media screen and (max-width: 500px) {
  .hero {
    margin: 2rem 2rem;
  }
  .hero h2 {
    line-height: 50px;
  }
  .hero-btn-container{
    margin-top: 1rem;
  }
}
