.insights{
  margin: 0 var(--margin-x);
}
.insight-head{
    font-size: 48px;
    font-family:
    SF Pro Display,
    sans-serif;
    text-align: center;
    font-weight: 400;
    margin-top: var(--head-margin-top);
  margin-bottom: var(--head-margin-bottom);
  }
  .insights-section{
    display: flex;
    font-family: 'PP Neue Montreal',sans-serif;
    font-size: 20px;
    font-weight:400;
    justify-content: space-evenly;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 25px;
    color: #121212;
    align-items: center;
    gap:5rem;
  }
  .article-about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 60%;
    /* padding: 1rem 2rem; */
  
  }
  .insights img{
    flex-basis: 40%;;
  }
  .article-about .title{
    font-size: 66.116px;
    font-weight: 500;
    margin: 0;
  }
  .article-about .description{
    margin-top: 0;
    font-weight: 400;
    width: 100%;
  }
  .read-more-btn{
    background-color: #121212;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 64px;
    font-size: 24px;
    font-family:
      SF Pro Display,
      sans-serif;
      padding: 20px 48px;
  
    align-self: flex-start;
  }

  @media screen and (max-width:500px) {
    .insights{
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .insights h2{
      font-size: 2rem;
    }
  }