.news-letter {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 2rem var(--margin-x);
}
.news-letter p {
  font-family: "Neue Montreal", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
 
}

.news-letter input {
  border-radius: 8px;
  padding: 0.8rem 0 0.8rem 1.5rem;
  /* outline: none; */
  border: none;
  font-size: 1.1rem;
  width: 493px;
}
.subscribe-btn {
  outline: none;
  font-size: 24px;
  display: flex;
  /* flex-basis: 20%; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: SF Pro Display, sans-serif;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 64px;
  color: #121212;
  border: none;
}

@media screen and (max-width: 500px) {
  .news-letter {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 1rem 2rem;
  }
  .news-letter p {
    font-size: 24px;
  }
  .news-letter input {
    /* width: 100%; */
    /* border-radius: 10px; */
  }
  .subscribe-btn {
    width: 100%;
  }
}
