@import url("https://v1.fontapi.ir/css/SFProDisplay:400");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/fonts/NeueMontreal-Regular.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal-bold";
  src: url(./assets/fonts/NeueMontreal-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Editorial New-Italic";
  src: url(./assets/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf) format("opentype");
  font-display: swap;
  font-style: normal;

}
@font-face {
  font-family: "PP Editorial New";
  src: url(./assets/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf) format("opentype");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(./assets/fonts/HelveticaNeueLight.otf) format("opentype");
  font-display: swap;
  font-style: normal;
}
:root{
  --text-color:#fff;
  --background-color:#121212;
  --margin-x:6rem;
  --head-margin-top:4.5rem ;
  --head-margin-bottom:4.5rem ;
}
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;

}
img {
  width: 100%;
}

/* lerp circle */
.lerp-container {
  position: "relative";
  width: "100vw";
  height: "100vh";
}
.lerp-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 126, 33, 0.5);
  position: absolute;
  pointer-events: none;
}
/* footer */
.footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  gap:8rem;
  /* padding: 15rem 5rem 3rem 5rem ; */
  margin: 5rem var(--margin-x);
}
.about-elleven h2{
  color: #FF7E21;
  font-size: 48px;
  font-weight: 800;
  font-family: "PP Editorial New";
}
.about-elleven p{
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 2; /* 187.5% */
  font-size: 16px;

}
.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";
}
.menu p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue";


}
.services{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";
}
.services p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
}
.footer .about{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";

}
.footer .about p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
}
.footer .social-media{
  display: flex;
  gap:2rem;
  list-style: none;
  align-items: flex-start;
padding: 0;
} 
.copyright{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Helvetica Neue";


}
@media(max-width:1400px){
  nav{
    gap:4rem;
  }
  .hero{
    font-size: 3.8rem;
  }
}
