@import url("https://v1.fontapi.ir/css/SFProDisplay:400");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/fonts/NeueMontreal-Regular.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal-bold";
  src: url(./assets/fonts/NeueMontreal-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PP Editorial New-Italic";
  src: url(./assets/fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf) format("opentype");
  font-display: swap;
  font-style: normal;

}
@font-face {
  font-family: "PP Editorial New";
  src: url(./assets/fonts/PPEditorialNew-Regular-BF644b214ff145f.otf) format("opentype");
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(./assets/fonts/HelveticaNeueMedium.otf) format("opentype");
  font-display: swap;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}
img {
  width: 100%;
}
/* navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22.125rem;
  margin: 2rem 6rem 5rem 6rem;
  border: 1px solid #fff;
  border-radius: 128px;
  padding: 0.2rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  /* padding: 1.3rem; */
  /* gap: 64px; */
  justify-content: space-around;
  flex: 1;
  font-family:
    SF Pro Display,
    sans-serif;
  /* background-color: blue; */
}
nav h1 {
  font-size: 32px;
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
}
nav ul li {
  list-style-type: none;
  font-size: 24px;
}
nav ul a {
  /* position: relative; Ensure positioning context for absolute children */
  display: block;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
nav ul .navlinks:hover {
  color: #ffffffd8;
}

.start-project {
  background-color: #fff;
  border-radius: 64px;
  font-size: 24px;
  padding: 16px 48px;
  color: #121212;
  white-space: nowrap;
}

.dropdown-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

/* drop item */
.drop-item {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1.3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: 18px;
  border-radius: 16px;
  border: 1px solid #fff;
  background-color: rgba(18, 18, 18, 0.2);
  backdrop-filter: blur(12.5px);
  z-index: 10;
}
.drop-item li {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: left;
  /* transition: transform 0.3s ease-out; */
}
/* .drop-item li:hover {
  background-color: #ff7e21;
  transform: scale(1.1);
} */
/* homepage styles */
.hero h2 {
  margin: 0.5rem 0;
}
.hero {
  padding: 1rem 6rem;
  /* font-weight: 400; */
  /* font-weight: lighter; */
  font-size: 4.2rem;
  letter-spacing: -1.92px;
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
}
.hero-btn-container {
  margin-top: 90px;
}
.start-project-btn {
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  border-radius: 64px;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  color: #121212;
  white-space: nowrap;
  /* transition: transform 0.3s ease; */
}

.see-work-btn {
  outline: none;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  background-color: #121212;
  border-radius: 64px;
  border-color: #fff;
  color: #fff;
}

/* lerp circle */
.lerp-container {
  position: "relative";
  width: "100vw";
  height: "100vh";
}
.lerp-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 126, 33, 0.5);
  position: absolute;
  pointer-events: none;
}

.flow-container {
  overflow: hidden;
  width: 100%;
  /* display: inline-block; */
  margin-top: 60px;
  padding: 1rem 0 1rem 0;
  transform: rotate(-9.79deg);
  border-top: 1.045px solid #fff;
  border-bottom: 1.045px solid #fff;
}

.slider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.slide {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 33px;
  display: flex;
  gap: 3rem;
  font-family:
    SF Pro Display,
    sans-serif;
  white-space: nowrap;
}

.carrousel-container {
  margin:10rem 0 3rem 0;
  position: relative;
}

.swiper-container {
  width: 65%;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 76px;
  height: 76px;
  border: none;
  outline: none;
  background-color: #ff7e21;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.swiper-button-prev {
  left: 120px;
}
.swiper-button-next {
  right: 120px;
}
.carrousel-work-btn {
  text-align: center;
}

.service h2,
.client h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 7rem;
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
}
.service {
  position: relative;
}

.service-img-container {
  position: relative;
  display: inline-block;
  margin-left: 6rem;
  width: 85%;
}
.service-img {
  display: block;
  width: 100%;
  height: auto;
}
.service-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 96px;
  height: 96px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.client {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #121212;
  padding: 97px 298px 97px 299px;

  margin-top: 9rem;
}
.client h2 {
  font-weight: 500;
  margin: 0;
  font-size: 72px;
  font-family: "Neue Montreal", sans-serif;
  letter-spacing: -1.008px;
  font-style: normal;

  line-height: 80px; /* 111.111% */
}
.client p {
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
  text-align: center;
  font-size: 20px;
}
.client-img-container {
  display: grid;
  grid-template-columns: repeat(3, 137px);
  align-items: center;
  gap: 3rem;
}
.client-img-container img {
  object-fit: cover; 
}
/* testimonial */
.testimonial{
  padding:48px 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.testimonial h2{
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.72px;
  font-family: "PP Editorial New-Italic",sans-serif;
}
.testimonial p{
  font-size: 48px;
  
  font-weight: 400;

}
.testimonial .profile{
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: flex-start;


}
.testimonial img{
  width:80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial .profile-about{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;
  gap: 2px;
  font-family: "Helvetica Neue";


}
.profile-about p{
  font-family: "Helvetica Neue";
  font-size: 32px;
  margin: 0;
}
.profile-about .role{
  font-size: 24px;
}
.next-profile-btn{
  width: 76px;
  height: 76px;
  background-color: #ff7e21;
  border: none;
  outline: none;
  border-radius: 50%;
  position: absolute;
  right:10px
}

/* store section  */
.store-preview{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.last-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.store-text{
  text-align: center;
    position:absolute;
  top:20%;
  left: 20%;
}
.store-text p{
  font-size: 64px;
  font-family:
  SF Pro Display,
  sans-serif;
  margin: 0;

}
.store-preview-btn{
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  border-radius: 64px;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  color: #121212;
  white-space: nowrap;
  margin: 3rem;
}
/* insgights section */
.insight-head{
  font-size: 48px;
  font-family:
  SF Pro Display,
  sans-serif;
  text-align: center;
  font-weight: 400;
}
.insights-section{
  display: flex;
  font-family: "Neue Montreal", sans-serif;
  font-size: 20px;

  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 25px;
  margin: 2rem 6rem;
  color: #121212;
  align-items: center;
  gap:4rem;
}
.article-about{
  display: flex;
  flex-direction: column;
  gap: 3rem;

}
.article-about .title{
  font-size: 66.116px;
  font-weight: bolder;
  font-family: "Neue Montreal";
  margin: 0;
}
.article-about .description{
  margin-top: 0;
}
.read-more-btn{
  background-color: #121212;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 64px;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
    padding: 20px 48px;

  align-self: flex-start;}
/* articles */
.articles{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.article-head{
  font-family:
    SF Pro Display,
    sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}
.article-items{
  list-style: none;
  display: flex;
  gap: 2rem;
}
.article-title{
  font-family:
    SF Pro Display,
    sans-serif;
    font-size: 24px;
    font-family: 400;
    margin-bottom: 5px;

}
.article-author{
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
/* news letter */
.news-letter{
  padding: 117px 80px 5px 80px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap:4rem

}
.news-letter p{
  font-family: "Neue Montreal";
  font-size: 32px;
  font-weight: 400;
  margin: 1px;
}
.news-letter input{
  border-radius: 25px;
  padding: 1.2rem 20rem 1.2rem 1rem;
  outline: none;
  border:none
}
.subscribe-btn{
  outline: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap:1rem;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  background-color: #fff;
  border-radius: 64px;
  color: #121212;
  border: none;
}
/* footer */
.footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr ;
  gap:8rem;
  padding: 15rem 5rem 3rem 5rem ;
}
.about-elleven h2{
  color: #FF7E21;
  font-size: 48px;
  font-weight: 800;
  font-family: "PP Editorial New";
}
.about-elleven p{
  font-family: "Helvetica Neue";
  font-weight: 400;
  line-height: 2; /* 187.5% */
  font-size: 16px;

}
.menu{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";



}
.menu p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue";


}
.services{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";
}
.services p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
}
.footer .about{
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  gap: 14px;
  font-family: "Helvetica Neue";

}
.footer .about p{
  color: #ff7e21;
  font-size: 20px;
  font-weight: 400;
}
.footer .social-media{
  display: flex;
  gap:2rem;
  list-style: none;
  align-items: flex-start;
padding: 0;
} 
.copyright{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Helvetica Neue";


}
@media(max-width:1400px){
  nav{
    gap:4rem;
  }
  .hero{
    font-size: 3.8rem;
  }
}
