@import url("https://v1.fontapi.ir/css/SFProDisplay:400");
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/NeueMontreal-Regular.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
}

/* navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22.125rem;
  margin: 2rem 6rem 1rem 6rem;
  border: 1px solid #fff;
  border-radius: 128px;
  padding: 0.2rem 2rem;
  /* max-width: 1200px; */
  /* background-color: red; */
}

nav ul {
  display: flex;
  align-items: center;
  /* padding: 1.3rem; */
  gap: 64px;
  font-family:
    SF Pro Display,
    sans-serif;
  /* background-color: blue; */
}
nav h1 {
  font-size: 32px;
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
}
nav ul li {
  list-style-type: none;
  font-size: 24px;
}
nav ul a {
  /* position: relative; Ensure positioning context for absolute children */
  display: block;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
nav ul a:hover {
  border-bottom: 2px solid #fff;
}

.start-project {
  background-color: #fff;
  border-radius: 64px;
  font-size: 24px;

  padding: 16px 48px;
  color: #121212;
  white-space: nowrap;
}

.dropdown-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

/* drop item */
.drop-item {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1.3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: 18px;
  border-radius: 16px;
  border: 1px solid #fff;
  background-color: rgba(18, 18, 18, 0.2);
  backdrop-filter: blur(12.5px);
  z-index: 10;
}
.drop-item li {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: left;
  /* transition: transform 0.3s ease-out; */
}
/* .drop-item li:hover {
  background-color: #ff7e21;
  transform: scale(1.1);
} */
/* homepage styles */
.hero h2 {
  margin: 0.5rem 0;
}
.hero {
  padding: 1rem 6rem;
  /* font-weight: 400; */
  /* font-weight: lighter; */
  font-size: 4.2rem;
  letter-spacing: -1.92px;
  font-family: "Neue Montreal", sans-serif; /* Apply Neue Montreal */
}
.hero-btn-container {
  margin-top: 90px;
}
.start-project-btn {
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 1.5rem;
  border-radius: 64px;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  color: #121212;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.see-work-btn {
  outline: none;
  font-size: 24px;
  font-family:
    SF Pro Display,
    sans-serif;
  padding: 20px 48px;
  background-color: #121212;
  border-radius: 64px;
  border-color: #fff;
  color: #fff;
}

/* lerp circle */
.lerp-container {
  position: "relative";
  width: "100vw";
  height: "100vh";
}
.lerp-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 126, 33, 0.5);
  position: absolute;
  pointer-events: none;
}

.flow-container {
  overflow: hidden;
  width: 100%;
  /* margin-left: -50px; */
  /* margin-right: -50px; */
  display: inline-block;
  /* justify-conte/nt: center; */
  /* align-items: center; */
  margin-top: 60px;
  padding: 2rem 0 2rem 0;
  transform: rotate(-9.79deg);
  /* background-color: red; */
  border-top: 1.045px solid #fff;

  border-bottom: 1.045px solid #fff;
}

.slider {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.slide {
  padding: 20px;

  /* background-color: red; */
  box-sizing: border-box;
  text-align: center;
  font-size: 33px;
  display: flex;
  gap: 3rem;
  /* width: 600px; */
  font-family:
    SF Pro Display,
    sans-serif;
  white-space: nowrap;
}
